/**************************GENERAL STYLES*********************************************/


body {
	background: url("../images/background.jpeg") no-repeat center center fixed;
	background-size: cover;
	color: #000;
	margin: 0;
	padding: 0;
	max-width: 100%;
	max-height: 100%;
	font-family: 'Roboto Slab', serif;
	font-size: 1.25em;
	font-weight: bold;
	text-shadow: 2px 1px 1px #fff; 
}

.content {
	max-width: 940px;
	margin: 0 auto;
	padding: 10% 5%;
	text-align: center;

}

nav {
	background: linear-gradient( to bottom right, #F9F21F, #2DD0C6, #7097ED, #FE1809);
	position: fixed;
  	top: 0;
  	width: 100%;
  	box-shadow: 10px 5px 5px #fff;
  	z-index: 1;
	
}

nav h1 {
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-size: 3em;
	text-shadow: 5px 4px 3px #2DD0C6;
}
nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
}

nav ul li a {
    display: block;
}

a {
	text-decoration: none;
	color: #fff;
	text-shadow: 2px 1px 1px #2DD0C6;
}

a:hover, a:focus {
	color: #2DD0C6;
}

a:visited {
	color: #F9F21F;
}

p {
	line-height: 2em;
}


/**************************FOOTER*********************************************/

footer {
	background: linear-gradient( to bottom right, #F9F21F, #2DD0C6, #7097ED, #FE1809);
	position: fixed;
  	bottom: 0;
	width: 100%;
	height: 5%;
	text-align: center;
}

footer li {
	list-style-type: none;
	color: #FE1809;
	font-size: .65em;
	text-shadow: 2px 1px 1px #2DD0C6;
}


/**************************HOME STYLES*********************************************/

h4 {
	text-shadow: 2px 2px 2px #fff; 
}

.titles {
	display: flex;
}

.final {
	flex-grow: 1;
	align-self: center;
}

.xeno {
	flex-grow: 1;
	align-self: center;
}

.magical {
	flex-grow: 1;
	align-self: center;
}


























